
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/backend/config/secrets/prod/prod.decrypt.private.php
/backend/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###


###> symfony/asset-mapper ###
/backend/public/assets/
/backend/assets/vendor/
###< symfony/asset-mapper ###
