<div class="container" fxLayout="column" fxLayoutGap="20px">

  <div class="button-container" fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" (click)="generateHand()">
      Générer une main
    </button>
  </div>

  <mat-card class="section" *ngIf="cardState">
    <mat-card-header>
      <mat-card-title>Main non triée</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul class="cards">
        <li *ngFor="let card of cardState.randomHand" class="card">
          {{ card.color }} - {{ card.value }}
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="section" *ngIf="cardState">
    <mat-card-header>
      <mat-card-title>Main triée</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul class="cards">
        <li *ngFor="let card of cardState.sortedHand" class="card">
          {{ card.color }} - {{ card.value }}
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="section" *ngIf="cardState">
    <mat-card-header>
      <mat-card-title>Ordre des Couleurs</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul class="order">
        <li *ngFor="let color of cardState.colorOrder" class="color">{{ color }}</li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="section" *ngIf="cardState">
    <mat-card-header>
      <mat-card-title>Ordre des Valeurs</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul class="order">
        <li *ngFor="let value of cardState.valueOrder" class="value">{{ value }}</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
